.viewSurah {
    margin: 5px 25px 20px;
    padding: 25px;
    color: black;
}

.headerborder {
    display: flex;
    justify-content: space-between;
    color: white;
}

.card {
    background-color: #f5f5f5;
    width: 100%;
    height: auto;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 15px;
}


.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.noSurah {
    display: absolute;
    color: #222831;
}

.deskripsi {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.textArab {
    color: #222831;
    font-size: 50px;
}

.titleArab {
    color: white;
    font-size: 50px;
}

.tr {
    color: #610C9F;
}

.idn {
    color: #424769;
}

.borderElement {
    background-color: #F806CC;
    margin: 5px 40px 10px;
    padding: 25px;
    margin-top: 50px;
    border-radius: 10px;
    color: white;
}

.cardBorder {
    width: 100%;
    height: auto;
    z-index: 0;
    padding: 10px;
}

.link {
    display: flex;
    position: absolute;
    right: 100px;
    padding: 30px;
}


@media screen and (max-width: 768px) {
    .borderElement {
        background-color: #F806CC;
        margin: 10px 10px;
        padding: 5px;
        margin-top: 20px;
        border-radius: 10px;
        color: white;
    }
    
    .cardBorder {
        width: 100%;
        height: auto;
        z-index: 0;
        padding: 10px;
    }

    .viewSurah {
        margin: 10px;
        padding: 5px;
        color: black;
    }
    
    .card {
        background-color: #f5f5f5;
        width: 100%;
        height: auto;
        z-index: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-radius: 10px;
        flex-direction: column;
    }

    .textArab {
        color: #222831;
        font-size: 30px;
    }

    .headerborder {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }
    .deskripsi {
        display: block;
        margin-top: 10px;
    }

    .title {
        font-size: 25px;
    }

    .titleArab{
        font-size: 40px;
    }
}